*, *::before, *after {
  box-sizing: border-box;
}


body {
  background-color: #343334;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: auto;
  width: 420px;
  padding: 20px 0 10px 15px;
}

nav {
  background-color: #010001;
  margin: auto;
  position: fixed;
  width: 405px;
  padding: 20px 0 10px 15px;
}

.restaurant-list {
  margin: auto;
  line-height: 1em;
  display: inline-block;
  width: 405px;
}

.location {
  background-color:#e5e5e5;
  margin: auto;
  padding: 20px 0 10px 15px;
  border-bottom: 1px solid #010001;
  display: inline-block;
  width: 405px;
}

.location:hover {
  background: #828282;
}

.content h1 {
  font-size: 18px;
  margin: 0;
}

.content {
display: inline-block;
width: 90%;
}

.arrow{
  text-align: right;
  padding-right: 15px;
  float: right;
  display: inline-block;
}
